docs
target
indexify_storage
.vscode
*.db
ve
site
*.pyc
sdk-py/dist
sdk-typescript/node_modules
sdk-typescript/lib
*.tgz
.venv
node_modules
.git
.github
.repo
.gitmodules
.gitattributes
.justfile
.prettierignore
.prettierrc.yaml
examples
CONTRIBUTING.md
tensorlake
indexify
operations
build
