# IDE and editor files
.vscode
.idea

# Python-related files
__pycache__
*.pyc
*.egg-info
.venv
venv
ve

# JavaScript and TypeScript-related files
node_modules
sdk-typescript/node_modules
sdk-typescript/lib
ui/node_modules

# Build and distribution directories
dist
build
site
sdk-py/dist
charts/*.tgz

# Local development and cache directories
indexify_storage
indexify_local_runner_cache
server/indexify_storage
local_cache
.dev-tls
src/state/store/snapshots/*
.ipynb_checkpoints/

# Data and media files
*.db
*.pdf
*.mp4
*.mp3
data/
upload.pdf

# MacOS-specific files
.DS_Store

# Specific project files and directories
target
indexify-server
indexify-extractor/**/*
rag/**/*
docs/docs/example_code/
local_server_config_*.yaml
sqlite*
*.trace

# Miscellaneous
*.tgz
/executor-py/~