target
.vscode
*.db
*.pdf
ve
site
*.pyc
sdk-py/dist
sdk-typescript/node_modules
sdk-typescript/lib
dist
*.tgz
.venv
.idea
local_cache
build
upload.pdf
indexify_extractor_sdk.egg-info
extractors/indexify_extractors.egg-info/
data/
.dev-tls
src/state/store/snapshots/*
.ipynb_checkpoints/
.DS_Store
docs/docs/example_code/
local_server_config_*.yaml
indexify-extractor/**/*
rag/**/*
*.mp4
*.mp3
sqlite*
*.trace
indexify
venv
charts/*.tgz
