[package]
name = "indexify"
version = "0.1.0"
edition = "2021"

[workspace]
members = [".", "migration"]

[dependencies]
anyhow = {version="^1"}
async-openai = "*"
async-trait = "*"
axum = {version="^0"}
axum-macros = {version = "0.3.7"}
clap = {version="^4", features=["derive"]}
figment = {version="0.10.8", features=["yaml", "env"]}
oneshot = {version="^0"}
qdrant-client = "1.2.0"
regex = {version="^1"}
sea-orm = { version = "^0", features = ["sqlx-postgres", "sqlx-sqlite", "runtime-tokio-native-tls", "macros", "sqlx-dep", "debug-print", "with-json", "with-time"] }
sea-query = {version = "^0"}
serde = {version="^1", features=["derive"]}
serde_yaml={version="^0"}
serde_json={version="^1"}
smart-default = {version = "^0"}
strum = { version = "0.24", features = ["derive"] }
strum_macros = "0.24"
thiserror = "*"
tokio = { version = "^1", features = ["full"] }
tracing = {version="^0", features = ["log"]}
tracing-subscriber = {version="^0"}
tracing-test = {version = "^0"}
md-5 = {version = "^0"}
tiktoken-rs = {version = "^0"}
dashmap = "5.4.0"
time = { version = "0.3", features = ["macros"] }
pyo3 = {version="^0", features=["auto-initialize"]}
utoipa = {version="^3", features=["axum_extras"]}
utoipa-swagger-ui = {version="^3", features = ["axum"] }
nanoid = {version="0.4.0"}
reqwest = {version="^0"}

[dev-dependencies]
migration = {path ="./migration"}