version: "3"
networks:
  server:
    ipam:
      config:
        - subnet: 172.21.0.0/24
services:
  indexify:
    image: tensorlake/indexify
    entrypoint: [ "/indexify/docker_compose_start.sh" ]
    ports:
      - 8900:8900
      - 8950:8950
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres/indexify
      - INDEXIFY_DB_URL=postgres://postgres:postgres@postgres/indexify
      - INDEXIFY_COORDINATOR_ADDR=localhost:8950
      - INDEXIFY_INDEX_CONFIG.QDRANT_CONFIG.ADDR=http://qdrant:6334
    depends_on:
      - qdrant
      - postgres
    networks:
      server:
        ipv4_address: 172.21.0.2
  qdrant:
    image: qdrant/qdrant:v1.4.1
    restart: always
    ports:
      - 6333
    networks:
      server:
        ipv4_address: 172.21.0.8
  postgres:
    image: ankane/pgvector
    restart: always
    ports:
      - 5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=indexify
    networks:
      server:
        ipv4_address: 172.21.0.5
  embedding-extractor:
    image: tensorlake/minilm-l6-extractor
    command: ["extractor", "start", "--coordinator-addr", "172.21.0.2:8950", "--ingestion-addr", "172.21.0.2:8900"]
    networks:
      server:
        ipv4_address: 172.21.0.9
  redis: # (optional) used for caching
    image: redis
    networks:
      server:
        ipv4_address: 172.21.0.10
    profiles: ["redis"] # only create a redis service if the "redis" profile is enabled


volumes:
  data:
