version: "3"
networks:
  dependencies:
    ipam:
      config:
        - subnet: 172.20.0.0/24
  server:
    ipam:
      config:
        - subnet: 172.21.0.0/24
services:
  indexify:
    image: diptanu/indexify
    entrypoint: [ "/indexify/docker_compose_start.sh" ]
    ports:
      - "8900:8900"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres/indexify
      - INDEXIFY_DB_URL=postgres://postgres:postgres@postgres/indexify
      - INDEXIFY_COORDINATOR_ADDR=http://localhost:8950
      - INDEXIFY_INDEX_CONFIG.QDRANT_CONFIG.ADDR=http://qdrant:6334
    depends_on:
      - qdrant
      - postgres
    networks:
      server:
        ipv4_address: 172.21.0.2
      dependencies:
  qdrant:
    image: qdrant/qdrant:v1.4.1
    restart: always
    ports:
      - 6333
    networks:
      dependencies:
        ipv4_address: 172.20.0.8
  postgres:
    image: ankane/pgvector
    restart: always
    ports:
      - 5432
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=indexify
    networks:
      dependencies:
        ipv4_address: 172.20.0.5

volumes:
  data:
