@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:inherit
}

.drawer-logo {
  color: #1C2026;
  margin-right: 10px;
}

.navbar-items {
  margin: 0.5rem !important;
  border-radius: 8px !important;
}

.selected-navbar-items {
  border-radius: 8px;
  background: var(--Gray-Gray02, #F7F9FC);
  box-shadow: 0px 0px 3px -1px var(--Brand-BrandColor-02, #6FA8EA) inset;
}

.heading-icons {
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray03, #E9EDF1);
  background: var(--White, #FFF);
}

.heading-icon-container {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray03, #E9EDF1);
  background: var(--White, #FFF);
}
