[tool.poetry]
name = "indexify"
# Incremented if any of the components provided in this packages are updated.
version = "0.3.7"
description = "Open Source Indexify components and helper tools"
authors = ["Tensorlake Inc. <support@tensorlake.ai>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/tensorlakeai/indexify"
repository = "https://github.com/tensorlakeai/indexify"

[tool.poetry.scripts]
indexify-cli = "indexify.cli.cli:app"

[tool.poetry.dependencies]
# Common dependencies
python = "^3.9"
structlog = "^24.4.0"
pyyaml = "^6"
httpx = { version = "^0.27", extras = ["http2"] }
grpcio = "1.70.0"

# Executor only
pydantic = "2.10.4"
httpx-sse = "^0.4.0"
# Adds function-executor binary and utils lib.
tensorlake = ">=0.1.14"

# CLI only
rich = "^13.9.2"
typer = "^0.12"
nanoid = "^2.0.0"

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
pylint = "^3.3.0"
parameterized = "^0.9.0"

[build-system]
requires = ["poetry==2.0.0"]
build-backend = "poetry.core.masonry.api"
