[tool.poetry]
name = "indexify"
# Incremented if any of the components provided in this packages are updated.
version = "0.3.18"
description = "Open Source Indexify components and helper tools"
authors = ["Tensorlake Inc. <support@tensorlake.ai>"]
license = "Apache 2.0"
readme = "README.md"
homepage = "https://github.com/tensorlakeai/indexify"
repository = "https://github.com/tensorlakeai/indexify"

[tool.poetry.scripts]
indexify-cli = "indexify.cli.cli:app"

[tool.poetry.dependencies]
# Common dependencies
python = "^3.9"
# structlog is provided by tensorlake
# pyyaml is provided by tensorlake
# httpx is provided by tensorlake

# Executor only
aiohttp = "^3.11.0"
prometheus-client = "^0.21.1"
# Adds function-executor binary and utils lib.
tensorlake = ">=0.1"
# pydantic is provided by tensorlake
# httpx-sse is provided by tensorlake
# grpcio is provided by tensorlake
# grpcio-tools is provided by tensorlake

# CLI only
rich = "^13.9.2"
typer = "^0.12"
# nanoid is provided by tensorlake

[tool.poetry.group.dev.dependencies]
black = "^24.10.0"
pylint = "^3.3.0"
parameterized = "^0.9.0"

[build-system]
requires = ["poetry==2.0.0"]
build-backend = "poetry.core.masonry.api"
