[data-md-color-scheme="default"] {
  --md-primary-fg-color:        #060D3F;
}
[data-md-color-scheme="slate"] {
  --md-primary-fg-color:        #060D3F;
}

.header-button {
  font-size: .7rem;
  opacity: 0.8;
  margin-right: 16px;
  font-weight: bold;
}

.header-button:hover {
  opacity: 1;
}