[package]
name = "indexify-server"
version = "0.2.50"
edition = "2021"
authors = ["Tensorlake Inc. <support@tensorlake.ai>"]
license = "Apache-2.0"
build = "build.rs"
resolver = "2"

[workspace]
members = [
    ".",
    "blob_store",
    "data_model",
    "indexify_ui",
    "metrics",
    "state_store",
    "processor",
    "utils",
]

[workspace.dependencies]
serde = { version = "1.0.219", features = ["derive"] }
anyhow = "1.0.97"
serde_json = "1.0.140"
# https://github.com/rust-rocksdb/rust-rocksdb/issues/881
rocksdb = { version = "0.23.0" }
data_model = { path = "data_model" }
blob_store = { path = "blob_store" }
indexify_utils = { path = "utils" }
indexify_ui = { path = "indexify_ui" }
metrics = { path = "metrics" }
hyper = "1.6.0"
state_store = { path = "state_store" }
strum = { version = "0.27.1", features = ["derive"] }
tracing = "0.1.41"
rand = "0.8.5"
tokio = { version = "1.44.1", features = ["full"] }
once_cell = "1.21.1"
itertools = "0.14.0"
serde_yml = "0.0.12"
figment = { version = "0.10.19", features = ["yaml"] }
axum = { version = "0.8.1", features = ["multipart", "macros", "tokio"] }
axum-server = "0.7.2"
tempfile = "3.19.0"
utoipa = { version = "5.3.1", features = ["axum_extras"] }
utoipa-swagger-ui = { version = "9.0.0", features = ["axum"] }
object_store = { git = "https://github.com/tensorlakeai/arrow-rs", branch = "remove-obj-store-log", features = [
    "aws",
] }
futures = "0.3.31"
bytes = "1.10.1"
pin-project-lite = "0.2.16"
async-trait = "0.1.88"
tokio-stream = "0.1.17"
slatedb = { git = "https://github.com/diptanu/slatedb" }
rust-embed = { version = "8.6.0", features = ["mime-guess"] }
reqwest = { version = "0.12.14", default-features = false, features = [
    "json",
    "rustls-tls",
] }
async-stream = "0.3.6"
sha2 = "0.10.8"
nanoid = "0.4.0"
tower-http = { version = "0.6.2", default-features = false, features = [
    "cors",
    "trace",
] }
pin-project = "1.1.10"
ciborium = "0.2.2"
uuid = { version = "1.16.0", features = ["v4"] }
url = "2.5.4"
opentelemetry = { version = "0.28.0", features = ["metrics", "trace"] }
opentelemetry_sdk = { version = "0.28.0", features = [
    "rt-tokio",
    "metrics",
    "trace",
] }
opentelemetry-otlp = { version = "0.28.0", features = [
    "tokio",
    "metrics",
    "trace",
    "grpc-tonic",
] }
opentelemetry-prometheus = { version = "0.28.0" }
prometheus = { version = "0.13.4" }
tracing-opentelemetry = "0.29.0"
dashmap = "6.1.0"
tower-otel-http-metrics = "0.13.0"
im = { version = "15.1.0" }
base64 = "0.22.1"
clap = { version = "4.5.32", features = ["derive"] }
prost = "0.13.5"
tonic = "0.12.3"
tonic-reflection = "0.12.3"
tonic-build = "0.12.3"

[dependencies]
async-stream = { workspace = true }
data_model = { path = "data_model" }
state_store = { path = "state_store" }
processor = { path = "processor" }
blob_store = { path = "blob_store" }
serde = { workspace = true }
serde_json = { workspace = true }
anyhow = { workspace = true }
figment = { workspace = true }
clap = { workspace = true }
tracing = { workspace = true }
axum = { workspace = true }
tokio = { workspace = true }
axum-server = { workspace = true }
futures = "0.3.30"
tracing-subscriber = { version = "0.3.19", features = ["env-filter", "json"] }
utoipa = { workspace = true }
utoipa-swagger-ui = { workspace = true }
sha2 = { workspace = true }
nanoid = { workspace = true }
object_store.workspace = true
uuid = { workspace = true }
indexify_utils = { workspace = true }
tower-http = { workspace = true }
bytes.workspace = true
ciborium.workspace = true
rand.workspace = true
hex = "0.4.3"
indexify_ui = { workspace = true }
hyper = { workspace = true }
url = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-prometheus = { workspace = true }
opentelemetry_sdk.workspace = true
prometheus = { workspace = true }
metrics = { workspace = true }
tracing-opentelemetry = { workspace = true }
opentelemetry-otlp = { workspace = true }
axum-tracing-opentelemetry = { version = "0.26.1", features = [
    "tracing_level_info",
] }
tower-otel-http-metrics = { workspace = true }
base64 = { workspace = true }
tonic = { workspace = true }
prost = { workspace = true }
tonic-reflection = { workspace = true }
tokio-stream = { workspace = true }
priority-queue = "2.3.1"

[dev-dependencies]
tempfile = { workspace = true }
strum = { workspace = true }
rocksdb = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[build-dependencies]
# All features enabled
vergen = { version = "9.0.4", features = ["build", "cargo", "rustc", "si"] }
tonic-build = { workspace = true }


[package.metadata.deb]
maintainer = "Diptanu Gon Choudhury <diptanu@tensorlake.ai>"
copyright = "2024, Diptanu Gon Choudhury <diptanu@tensorlake.ai>"
license-file = ["../LICENSE", "4"]
extended-description = """\
Indexify is a reactive structured extraction engine for un-structured data.
"""
section = "utility"
priority = "optional"
depends = "$auto"
