blobStore:
  allowHTTP: true
  endpoint: http://blob-store:9000
  credentialSecret: blob-creds
  config:
    backend: s3
    s3:
      bucket: indexify
      region: us-east-1
      accessKey: 
      secretKey: 

server:
  image: tensorlake/indexify-server:latest
  ingress:
    enabled: true
  persistence:
    storageClassName: 'local-path'
    size: 1Gi

executors:
  - name: indexify-executor
    image: tensorlake/indexify-executor-default:latest
    replicas: 1

minio:
  enabled: true
  fullnameOverride: blob-store
  persistence:
    enabled: false
  mode: standalone
  rootUser: minioadmin
  rootPassword: minioadmin
  buckets:
    - name: indexify
  resources:
    requests:
      memory: 128Mi
