.pytest_cache
extractor_cache
data
indexify_local_runner_cache/
serialized_files/
__pycache__
ve*
.venv
.idea
.vscode
*.pyc
dist
.ipynb_checkpoints/
rag/
*.mp3
*.mp4
*.pdf
*.jpeg
/pdf
/images
.DS_Store
.dev-tls
*.log
