@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color:inherit
}

.drawer-logo {
  color: #1C2026;
  margin-right: 10px;
}

.navbar-items {
  margin: 0.5rem !important;
  border-radius: 8px !important;
}

.selected-navbar-items {
  border-radius: 8px;
  background: var(--Gray-Gray02, #F7F9FC);
  box-shadow: 0px 0px 3px -1px #6FA8EA inset;
}

.heading-icons {
  border-radius: 8px;
  background: var(--White, #FFF);
}

.heading-icon-container {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid var(--Gray-Gray03, #E9EDF1);
  background: var(--White, #FFF);
}

.MuiDataGrid-columnHeaderTitle {
  font-size: smaller;
  text-transform: uppercase;
}

.MuiDataGrid-cellContent {
  font-size: smaller;
}

.MuiDataGrid-columnHeaderTitle {
  color: #757A82;
}

.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.MuiTablePagination-toolbar > p, div.MuiSelect-select.MuiTablePagination-select.MuiSelect-standard.MuiInputBase-input {
  font-size: small;
}

.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell .custom-scroll{
    -ms-overflow-style: none;
}
.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell .custom-scroll::-webkit-scrollbar {
    display: none;
}

div.MuiDataGrid-main > div.MuiDataGrid-virtualScroller::-webkit-scrollbar {
  display: none;
}

div.MuiBox-root.custom-scroll::-webkit-scrollbar {
  display: none;
}

div.MuiDataGrid-footerContainer {
  justify-content: left;

  .MuiTablePagination-input {
    padding: 2px;
    border-radius: 5px;
    border: 1px solid var(--Gray-Gray05, #D0D6DE);
  }
}

div.MuiDataGrid-selectedRowCount{
  display: none;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1::-webkit-scrollbar {
  display: none;
}

.content-table-header{
  display: flex;
  flex-direction: row;
  align-items: center;

  .heading-icon-container {
    margin-right: 1rem;
  }
}

div.MuiSelect-select.MuiSelect-outlined {
  border: 1px solid var(#E9EDF1) !important;
}

div.upload-modal-filename{
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.upload-modal-fileicon{
  border-radius: 6px;
  background: var(--White, #FFF);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 6px;
  margin-right: 16px;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.upload-modal-paper {
  padding-top: 10px;
}

.show-onHover {
  display: none;
}

div.MuiDataGrid-row > div.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor[data-field="name"]:hover{
  color: #0D6CCE;
  text-decoration: underline;
}

div.MuiDataGrid-cell--withRenderer.MuiDataGrid-cell.MuiDataGrid-cell--textLeft[data-field="name"]:hover, [data-field="id"]:hover{
  color: #0D6CCE;
  text-decoration: underline;
  .show-onHover {
    display: block !important;
  }
}

div.MuiDataGrid-row:hover {
  background-color: #FAFCFF !important;
}

