version: '3.8'

services:
  foundationdb:
    image: foundationdb/foundationdb:7.4.5
    # Use the entrypoint that configures a single memory cluster
    entrypoint: /var/fdb/scripts/fdb_single.bash
    volumes:
      - fdb_data:/var/lib/foundationdb/data
    ports:
      - 4500:4500/tcp
    environment:
      FDB_NETWORKING_MODE: host
      FDB_COORDINATOR_PORT: 4500
      FDB_PORT: 4500

  jaeger:
    image: jaegertracing/all-in-one:latest
    volumes:
      - jaeger_data:/tmp
    ports:
      - '6831:6831/udp'
      - '6832:6832/udp'
      - '5778:5778'
      - '16686:16686'
      - '4317:4317'
      - '4318:4318'
      - '14250:14250'
      - '14268:14268'
      - '14269:14269'
      - '9411:9411'
    environment:
      - COLLECTOR_OTLP_ENABLED=true
      - COLLECTOR_OTLP_GRPC_HOST_PORT=0.0.0.0:4317
      - COLLECTOR_GRPC_ENABLED=true
    command: ['--set=receivers.otlp.protocols.grpc.endpoint="0.0.0.0:4317"']

volumes:
  fdb_data:
  jaeger_data:
