name: Release Indexify Server

on:
  workflow_dispatch:
    inputs:
      release_message:
        type: string
        description: Release message
        required: true
      prerelease:
        type: boolean
        description: Is this a pre-release version?
        required: false
        default: false
      ref:
        type: string
        description: The ref to checkout before running the workflow
        required: false
        default: main

permissions:
  contents: write
  actions: write
  packages: write

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: ./server

jobs:
  build-release-packages:
    uses: ./.github/workflows/wf_build_indexify_server_release_packages.yaml
    with:
      ref: ${{ inputs.ref }}

  extract-version:
    name: Extract Version Number
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.version_extraction.outputs.version }}
    steps:
      - uses: actions/checkout@v6
      - id: version_extraction
        run:
          echo "version=$(cargo metadata --format-version 1 | jq '.packages[] |
          select(.name == "indexify-server") | .version' | xargs)" >>
          "$GITHUB_OUTPUT"

  create-release:
    name: Create GitHub Release
    runs-on: namespace-profile-indexify-builder
    needs:
      - build-release-packages
      - extract-version
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}
      - run: mkdir -p /tmp/release
      - name: Download Artifacts
        uses: actions/download-artifact@v7
        with:
          path: /tmp/release/
      - name: Name Artifacts
        run: |
          mv /tmp/release/indexify-server-linux-amd64/indexify-server /tmp/release/indexify-server-${{ needs.extract-version.outputs.version }}-linux-amd64
          mv /tmp/release/indexify-server-linux-aarch64/indexify-server /tmp/release/indexify-server-${{ needs.extract-version.outputs.version }}-linux-aarch64

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: 'v${{ needs.extract-version.outputs.version }}'
          prerelease: ${{ github.event.inputs.prerelease }}
          target_commitish: ${{ inputs.ref }}
          files: |
            /tmp/release/indexify-server-${{ needs.extract-version.outputs.version }}-linux-amd64
            /tmp/release/indexify-server-${{ needs.extract-version.outputs.version }}-linux-aarch64

  build-and-push-docker-images:
    name: Build and Push Docker Images
    runs-on: namespace-profile-indexify-builder
    needs:
      - build-release-packages
      - extract-version
      - create-release
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - uses: docker/build-push-action@v6
        with:
          context: ./server
          file: ./server/dockerfiles/Dockerfile.release_server
          push: true
          tags: |
            tensorlake/indexify-server:latest
            tensorlake/indexify-server:${{ needs.extract-version.outputs.version }}
          provenance: false
          platforms: linux/amd64,linux/arm64
          outputs: type=image,push=true,image-manifest=true,oci-mediatypes=true
