name: Publish Executor Containers

on:
  workflow_call:
    inputs:
      indexify_version:
        type: string
        description: |
          Indexify version to use to build the executor containers.
          Note: Should ideally match the tag used for this workflow.
        required: true
  workflow_dispatch:
    inputs:
      indexify_version:
        type: string
        description: |
          Indexify version to use to build the executor containers.
          Note: Should ideally match the tag used for this workflow.
        required: true

jobs:
  build-and-push-docker-images:
    name: Build and Push example Executor Docker images
    runs-on: ubuntu-latest-xlarge
    steps:
      - uses: actions/checkout@v6
        with:
          ref: main
      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          curl -LsSf https://astral.sh/uv/install.sh | sh  # install uv
          uv pip install --system 'indexify==${{ inputs.indexify_version }}' tensorlake -U
          indexify-cli build-image examples/pdf_document_extraction/images.py
          indexify-cli build-image examples/pdf_structured_extraction/workflow.py
          indexify-cli build-image examples/pdf_structured_extraction/document_ai_api_version_workflow.py

          docker image list --format json | jq '.Repository+":"+.Tag' | grep 'tensorlake/' | xargs -I {} docker image push {}
