name: Publish Example Executor Containers

on:
  workflow_dispatch:

permissions:
  contents: write
  actions: write
  packages: write

jobs:
  build-and-push-docker-images:
    name: Build and Push Docker Executor 
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - run: |
          pip install indexify -U
          indexify-cli build-default-image 
          indexify-cli build-image examples/pdf_document_extraction/embedding.py
          indexify-cli build-image examples/pdf_document_extraction/lancedb_functions.py
          indexify-cli build-image examples/pdf_document_extraction/chromadb_writer.py
          indexify-cli build-image examples/pdf_document_extraction/pdf_parser.py
          indexify-cli build-image examples/pdf_document_extraction/workflow.py
          docker push tensorlake/indexify-executor-default:3.10
          docker push tensorlake/indexify-executor-default:3.11
          docker push tensorlake/tensorlake/pdf-blueprint-st
          docker push tensorlake/pdf-blueprint-lancdb
          docker push tensorlake/pdf-blueprint-pdf-parser
          docker push tensorlake/pdf-blueprint-pdf-parser-gpu
          docker push tensorlake/pdf-blueprint-download

