name: Tests
on:
  push:
    branches:
      - 'main'
  pull_request:
      branches:
      - 'main'

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install protoc
      run: sudo apt install -y protobuf-compiler
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: test
      run: ./run_tests.sh