name: UI

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - 'main'
    paths:
      - 'crates/server/ui/**'
      - '.github/workflows/tests_ui.yaml'

jobs:
  lint:
    name: Lint Checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Npm Install
        run: cd crates/server/ui && npm ci

      # - name: UI Lint Check
      #   run: cd crates/server/ui && npm run lint
