name: Build Indexify Server Release Packages

on:
  workflow_call:
    inputs:
      ref:
        type: string
        description: The ref to checkout before running the workflow
        required: false
        default: main

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: ./server

jobs:
  build-linux-amd64-package:
    name: Build x86_64 Linux Package
    runs-on: ubuntu-latest-xlarge
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}

      - run: sudo apt update && sudo apt install -y protobuf-compiler

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-directories: |
            target
            ~/.cargo/registry
            ~/.cargo/git

      - run: cargo build --release

      - uses: actions/upload-artifact@v4
        with:
          name: indexify-server-linux-amd64
          path: target/release/indexify-server
          if-no-files-found: error

  build-macos-package:
    name: Build macOS Package
    runs-on: macos-14-xlarge
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.ref }}
      - run: NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
      - run: brew install protobuf
      - run: rustup update
      - run: rustup toolchain install nightly --component rustfmt
      - run: rustup target add aarch64-apple-darwin
      - run: cargo +nightly fmt --check
      - run: make package-ui
      - run: cargo build --release
      - uses: actions/upload-artifact@v4
        with:
          name: indexify-server-darwin-arm64
          path: target/release/indexify-server
          if-no-files-found: error

