name: Build Indexify Server Release Packages

on:
  workflow_call:
    inputs:
      ref:
        type: string
        description: The ref to checkout before running the workflow
        required: false
        default: main

env:
  CARGO_TERM_COLOR: always

defaults:
  run:
    working-directory: ./server

jobs:
  build-linux-amd64-package:
    name: Build x86_64 Linux Binary
    runs-on: ubuntu-latest-xlarge
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - run: sudo apt update && sudo apt install -y protobuf-compiler

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-directories: |
            target
            ~/.cargo/registry
            ~/.cargo/git

      - run: cargo build --release

      - uses: actions/upload-artifact@v6
        with:
          name: indexify-server-linux-amd64
          path: target/release/indexify-server
          if-no-files-found: error

  build-linux-arm64-package:
    name: Build Aarch64 Linux Binary
    runs-on: ubuntu-latest-xlarge
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.ref }}

      - run:
          sudo apt update && sudo apt install -y protobuf-compiler
          gcc-aarch64-linux-gnu g++-aarch64-linux-gnu

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          cache-directories: |
            target
            ~/.cargo/registry
            ~/.cargo/git

      - run: rustup target add aarch64-unknown-linux-gnu

      - name: Build for ARM64
        env:
          CC_aarch64_unknown_linux_gnu: aarch64-linux-gnu-gcc
          CXX_aarch64_unknown_linux_gnu: aarch64-linux-gnu-g++
          CARGO_TARGET_AARCH64_UNKNOWN_LINUX_GNU_LINKER: aarch64-linux-gnu-gcc
        run: cargo build --release --target aarch64-unknown-linux-gnu

      - uses: actions/upload-artifact@v6
        with:
          name: indexify-server-linux-aarch64
          path: target/aarch64-unknown-linux-gnu/release/indexify-server
          if-no-files-found: error
